@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */
.my-custom-class {
    height: 4000px;
  }
  
 /* Custom styles for the section container */
.section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center
  }
  
  
  
/* Custom styles for the Nav component */
.nav-link {
    /* Add your default styles for the links */
    color: #FFFFFF; /* Default text color */
    /* Add more default styles as needed */
  }
  
  .nav-link:hover {
    /* Add your hover styles for the links */
    color: #00FFFC; /* Hover text color */
    transition: color 0.3s ease-in-out; /* Add a smooth transition effect */
    /* Add more hover styles as needed */
  }

/* CSS */
.btn-custom {
    background-color: transparent;
    color: #00FFFC;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-custom:hover {
    background-color: #00FFEF;
    color: #fff;
  }


  .custom-button {
    background-color:  #00FFFC; /* Updated background color */
    color: #000;
    border: none;
    padding: 8px 16px; /* Updated padding for smaller size */
    font-size: 14px; /* Updated font size for smaller size */
    cursor: pointer;
    /* Add any additional styles as needed */
    border-radius: 9999px; /* Added border radius for smooth edges */
  }

  /* app.css */
body {
    background-color: #000;
    font-family: Orbitron, sans-serif;
  }
  
  
  
  .peach-border {
    width: 72px; /* Set the desired width */
    height: 72px; /* Set the desired height */
    border-radius: 50%; /* Create a circular shape */
    background-color: #FFCBA4; /* Set the background color to peach */
    overflow: hidden; /* Clip any content that goes beyond the circle */
  }

  
  .font-face-arial-narrow {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold;
    line-height: 0.8;
    color:#fff
  }
  

  .font-face-arial-narroww {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 28px; /* Adjust the font size as needed */
    font-weight: bold;
    line-height: 0.5;
  }

  

  /* Define the animation for arrow blinking */
@keyframes arrow-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the arrow icon */
  .arrow-icon {
    animation-name: arrow-blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #00FFFC;
  }
  

  .custom-icon {
    color: #00FFFC;
    /* Add any additional styles as needed */
  }
  